@{
    Layout = null;
}


<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La mia pizzeria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="text-center">Pizzeria</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrizione</th>
                    <th>Foto</th>
                    <th>Prezzo</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="h4">Margherita</td>
                    <td class="w-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum magna quis lorem pellentesque, ut mattis odio interdum. Suspendisse vel bibendum eros, non ullamcorper odio</td>
                    <td><img src="https://picsum.photos/id/10/200/100"></td>
                    <td class="h5">5 €</td>
                </tr>

                <tr>
                    <td class="h4">Diavola</td>
                    <td class="w-50">Morbi dapibus, purus vel consequat pretium, orci ante aliquet urna, id pretium dolor orci et nunc. Nam imperdiet mi ligula, in lobortis magna iaculis ac.</td>
                    <td><img src="https://picsum.photos/id/20/200/100"></td>
                    <td class="h5">6 €</td>
                </tr>

                <tr>
                    <td class="h4">4 Formaggi</td>
                    <td class="w-50">Aliquam quis auctor urna. Donec ut eros quam. Morbi faucibus leo eu magna consectetur, ac rhoncus lectus congue. Integer hendrerit magna eu felis tincidunt, non interdum orci faucibus.</td>
                    <td><img src="https://picsum.photos/id/30/200/100"></td>
                    <td class="h5">7 €</td>
                </tr>

                <tr>
                    <td class="h4">Prosciutto e Funghi</td>
                    <td class="w-50">Pellentesque facilisis interdum imperdiet. Sed et ligula varius, vehicula massa non, lobortis urna. Praesent dictum, massa sit amet tristique efficitur, quam odio malesuada turpis, ut blandit augue neque ut neque.</td>
                    <td><img src="https://picsum.photos/id/40/200/100"></td>
                    <td class="h5">6,50 €</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

